/* src/components/About.css */
.about {
    max-width: 600px;
    padding: 40px;
    text-align: left;
    color: #ffffff;
}

h3 {
    font-size: 1.5em;
    color: #8e2de2;
}

.quote {
    font-style: italic;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #8e2de2;
}

.download-button:hover {
    background-color: #8e2de2;
}
.connect-button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 5rem;}

.connect-button:hover {
    background-color: #333;
}