/* src/components/Projects.css */
.projects {
    padding: 20px;
    text-align: center;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Set exactly 4 columns */
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    background-color: rgba(142, 45, 226, 0.22);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image {
    width: 16rem;
    height: 10rem;
    border-radius: 8px;
    margin-bottom: 12px;
}

.project-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: white;
}

.project-card p {
    font-size: 1em;
    color: #555;
}
.github-button-container {
    margin-top: 20px;
}

.github-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #333333;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.github-button:hover {
    background-color: #555555;
}